{% extends 'layout.html' %}
{% block body %}

<div class="form-label-group mx-auto">
    <p class = "h1 text-muted text-center ">Claim Summary</p>
   </div> 
  <div class="limiter " style="
  padding-left: 13px;
  padding-right: 13px;
">
    <div class="container-table100"  style="width: 100%;">
        <div class="wrap-table100">
                <div class="table">

                    <div class="row-table  header ">
                        <div class="cell">
                            Title
                        </div>
                        <div class="cell">
                            
                        </div>
                        <div class="cell">
                            
                        </div>
                        <div class="cell">
                            Value
                        </div>
                        <div class="cell">
                       
                        </div>
                    </div>
                    




<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Member Name
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.member_name}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Patient Gender
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.gender}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Location
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.location}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Patient Name
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.patience_name}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Email
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.email}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Patient D.O.B
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.dob}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Cause
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.cause}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Employer
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.employer}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Patient-Member Relationship
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.relationship}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Patient Suffix
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.patient_suffix}}
    </div>
    <div class="cell">
                            
    </div>
</div>
<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Number of Depandants
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.dependants}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Fee Charged
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.fee_charged}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Fee Charged
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.fee_charged}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Number of Claims
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.claims}}
    </div>
    <div class="cell">
                            
    </div>
</div>

<div class="row-table">
    <div class="cell" data-title="Artist Name">
        Membership Period
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell">
                            
    </div>
    <div class="cell" data-title="value">
        {{data.period}}
    </div>
    <div class="cell">
                            
    </div>
</div>

</div>
</div>
</div>      
</div>
</div>
<br>
<div class="container-table100 "  style="width: 100%;">
    <div class="wrap-table100">
            <div class="table">

                <div class="row-table  header ">
                    <div class="cell">
                        Metric
                    </div>
                    <div class="cell">
                        
                    </div>
                    <div class="cell">
                        
                    </div>
                    <div class="cell">
                        Value
                    </div>
                    <div class="cell">
                   
                    </div>
                </div>
                <div class="row-table">
                    <div class="cell" data-title="Evaluation">
                        Evaluation
                    </div>
                    <div class="cell">
                                            
                    </div>
                    <div class="cell">
                                            
                    </div>
                    <div class="cell" data-title="value">
                        {% if data.label == 0%}
                        Clean
                        {% elif data.label == 1%}
                        Fraudulent
                        {% endif %}
                    </div>
                    
                    <div class="cell">
                                            
                    </div>
                </div>
                <div class="row-table">
                    <div class="cell" data-title="Risk Score">
                        Risk Score
                    </div>
                    <div class="cell">
                                            
                    </div>
                    <div class="cell">
                                            
                    </div>
                    <div class="cell" data-title="value">
                        34%
                    </div>
                    <div class="cell">
                                            
                    </div>
                </div>

                <div class="row-table">
                    <div class="cell" data-title="Model Accuracy">
                        Model Accuracy
                    </div>
                    <div class="cell">
                                            
                    </div>
                    <div class="cell">
                                            
                    </div>
                    <div class="cell" data-title="value">
                        87.6%
                    </div>
                    <div class="cell">
                                            
                    </div>
                </div>
            </div>

            <div class="row-table">
                <div class="cell" data-title="Model Accuracy">
                    Claim Status
                </div>
                <div class="cell">
                                        
                </div>
                <div class="cell">
                                        
                </div>
                <div class="cell" data-title="value">
                    
                </div>
                <div class="cell" data-title="value">
                    
                </div>
                <div class="cell">
                    {{ data.status }}                    
                </div>
            </div>

        </div>
        </div>      
        </div>
        </div>

  
                
                   
                   
        <div class="col-md-8 mx-auto">
            <div class="form-label-group mx-auto">
                <a href="{{url_for('evaluate')}}" class="btn btn-danger  mx-auto my-2">Back</a>
               </div> 
        </div>
        {% endblock %}